<% if @unit.errors.any? %>
  <% @unit.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= msg %></div>
  <% end %>
<% end %>

<p>Название<br>
  <%= @form.text_field(:name, {:class => 'form-control'} )%>
</p>
<p>Обозначение<br>
  <%= @form.text_field(:symbol, {:class => 'form-control'} )%>
</p>
<p>
  Система единиц<br>
  <%= @form.collection_select(:unit_system_id,  UnitSystem.all.order(:title), :id, :title, prompt: true)%>
</p>
<p>
  Допускает конвертацию<br>
  <%= @form.collection_select(:unit_kind_id,  UnitKind.all.order(:name), :id, :name, prompt: true)%>
</p>