<h4>Единица</h4>
<h5><%= @unit.name %></h5>
<p><%= @unit.symbol %></p>
<p><%= @unit.unit_system.title %></p>
<br>
<p>
  <%= link_to 'Редактировать', edit_unit_path(@unit), :class=>'btn btn-warning' %>
  <%= link_to 'Удалить', unit_path(@unit), method: :delete, data: {confirm: "Удалить?"}, :class=>'btn btn-danger' %>
  <%= link_to 'Отмена', units_path, :class => 'btn btn-outline-primary'  %>
</p>